body {
    margin: 0;
    padding: 0;

    background-color: #111417;

    font-family: 'Lato', sans-serif;
    color: #CFD0D0;
}

.header {
    padding: 100px;
}

.header .title {
    font-weight: bold;
    font-size: 50px;

    color: #ffffff;
}

.btn button {

}